 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 822px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-family: "DM Sans";
  margin: 373px 25px 0;
}

.u-section-1 .u-text-2 {
  font-family: "DM Sans";
  font-size: 1.25rem;
  width: 837px;
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-text-1 {
    width: 744px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 200px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 331px;
}

.u-section-2 .u-group-1 {
  width: 983px;
  min-height: 275px;
  height: auto;
  --radius: 30px;
  margin: 40px auto 16px;
}

.u-section-2 .u-container-layout-1 {
  padding: 12px 30px;
}

.u-section-2 .u-image-1 {
  width: 141px;
  height: 84px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.125rem;
  font-family: "DM Sans";
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 0.888889rem;
  margin: 12px 69px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 54px;
    margin-right: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-2 .u-group-1 {
    min-height: 401px;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }
} .u-section-3 {
  background-position: 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(to bottom, rgba(57, 115, 183, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(to bottom, #ffffff, #ffffff);
  background-size: cover, cover, cover, cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 573px;
}

.u-section-3 .u-text-1 {
  font-size: 2.125rem;
  font-family: "DM Sans";
  width: 514px;
  margin: 35px auto 0;
}

.u-section-3 .u-list-1 {
  width: 793px;
  margin: 23px auto 51px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 8.5px));
  min-height: 422px;
  --gap: 17px;
  grid-auto-columns: calc(50% - 8.5px);
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  --radius: 20px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-family: "DM Sans";
  font-size: 2.25rem;
  margin: 25px 155px 0 137px;
}

.u-section-3 .u-text-3 {
  font-size: 0.888889rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 8px 83px 0 65px;
}

.u-section-3 .u-text-4 {
  font-size: 0.888889rem;
  font-family: "DM Sans";
  margin: 7px 95px 0 76px;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  --radius: 20px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-family: "DM Sans";
  font-size: 2.25rem;
  margin: 25px 155px 0 137px;
}

.u-section-3 .u-text-6 {
  font-size: 0.888889rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 8px 83px 0 65px;
}

.u-section-3 .u-text-7 {
  font-size: 0.888889rem;
  font-family: "DM Sans";
  margin: 7px 95px 0 76px;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  --radius: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-family: "DM Sans";
  font-size: 2.25rem;
  margin: 25px 155px 0 137px;
}

.u-section-3 .u-text-9 {
  font-size: 0.888889rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 8px 83px 0 65px;
}

.u-section-3 .u-text-10 {
  font-size: 0.888889rem;
  font-family: "DM Sans";
  margin: 7px 95px 0 76px;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  --radius: 20px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-11 {
  font-family: "DM Sans";
  font-size: 2.25rem;
  margin: 25px 155px 0 137px;
}

.u-section-3 .u-text-12 {
  font-size: 0.888889rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 8px 83px 0 65px;
}

.u-section-3 .u-text-13 {
  font-size: 0.888889rem;
  font-family: "DM Sans";
  margin: 7px 95px 0 76px;
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 119px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 47px;
    margin-left: 29px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 59px;
    margin-left: 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 119px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 47px;
    margin-left: 29px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 59px;
    margin-left: 40px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 119px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 47px;
    margin-left: 29px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 59px;
    margin-left: 40px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 119px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 47px;
    margin-left: 29px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 59px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 29px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 29px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 29px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 29px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 50px;
    margin-bottom: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 703px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 30px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 8px;
    margin-right: 30px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 8px;
    margin-right: 30px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 8px;
    margin-right: 30px;
    margin-left: 17px;
  }
}

.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-repeater-1.u-repeater-1.u-repeater-1:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-repeater-1.u-repeater-1.u-repeater-1.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-container-layout-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-container-layout-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout-1.u-container-layout-1.u-container-layout-1:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout-1.u-container-layout-1.u-container-layout-1.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-text-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-text-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-3.u-text-3.u-text-3:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-list-item-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-list-item-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  min-height: 2512px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 14px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  --radius: 40px;
  min-height: 704px;
  filter: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  object-position: 50% 0%;
  filter: none;
  width: 485px;
  height: 634px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 704px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.125rem;
  font-family: "DM Sans";
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-family: "DM Sans";
  font-size: 0.888889rem;
  line-height: 1.2;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 30px auto 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 792px;
}

.u-section-4 .u-container-layout-3 {
  padding: 16px;
}

.u-section-4 .u-table-1 {
  margin: 10px 0 0;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-13 {
  font-weight: 700;
}

.u-block-f29a-55 {
  height: 47px;
}

.u-section-4 .u-layout-cell-4 {
  --radius: 40px;
  background-size: cover;
  transition-duration: 0.5s;
  filter: none;
  min-height: 792px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 30px;
}

.u-section-4 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 421px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 2.125rem;
  font-family: "DM Sans";
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-image-2 {
  height: 297px;
  width: 977px;
  margin: -14px auto 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 500px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-size: 2.125rem;
  font-family: "DM Sans";
  font-weight: 700;
  margin: 80px auto 0 16px;
}

.u-section-4 .u-text-5 {
  font-size: 0.888889rem;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  margin: 17px auto 0 16px;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 20px auto 0 16px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 500px;
  filter: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-4 .u-image-3 {
  object-position: 50% 46.06%;
  filter: none;
  width: 332px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 3078px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 0%;
    background-size: cover;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    min-height: 580px;
  }

  .u-section-4 .u-image-1 {
    width: 405px;
    height: 529px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 653px;
  }

  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 653px;
  }

  .u-section-4 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-4 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-4 .u-carousel-item-3 {
    margin-right: initial;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 347px;
  }

  .u-section-4 .u-image-2 {
    height: 286px;
    width: 443px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 412px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 2574px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-4 .u-image-1 {
    width: 295px;
    height: 385px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
    width: auto;
    margin-left: 6px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 15px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 785px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 3px 0;
  }

  .u-section-4 .u-table-1 {
    width: 288px;
    margin: 14px -9px -13px auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 785px;
  }

  .u-section-4 .u-gallery-1 {
    height: 166px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 395px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-4 .u-image-2 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 596px;
  }

  .u-section-4 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.75rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 316px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1988px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 666px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 164px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 400px;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 474px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 3101px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 19px;
    margin-bottom: 19px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 650px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 38px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 770px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-table-1 {
    margin-top: 1px;
    margin-bottom: -21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 292px;
  }

  .u-section-4 .u-gallery-1 {
    height: 231px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 167px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 5px;
  }

  .u-section-4 .u-image-2 {
    height: 105px;
    margin-top: -16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 307px;
    order: 1;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 9px;
    margin-right: 13px;
    margin-left: 2px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 15px;
    margin-left: 3px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 26px;
    margin-left: 2px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 302px;
    order: 0;
  }

  .u-section-4 .u-image-3 {
    width: 172px;
  }
}

.u-section-4 .u-layout-cell-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-layout-cell-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-layout-cell-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-4 .u-layout-cell-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-4 .u-layout-cell-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-4.u-layout-cell-4.u-layout-cell-4:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-4.u-layout-cell-4.u-layout-cell-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  min-height: 871px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 27px auto 40px;
}

.u-section-5 .u-image-1 {
  --radius: 40px;
  transition-duration: 0.5s;
  filter: none;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-position: 50% 50%;
  min-height: 433px;
  background-size: cover;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 433px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 2.125rem;
  font-family: "DM Sans";
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.888889rem;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 30px auto 0 0;
}

.u-section-5 .u-layout-cell-3 {
  order: 1;
  min-height: 361px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-bottom: 0;
  margin-top: 34px;
  font-size: 2.125rem;
  font-family: "DM Sans";
  font-weight: 700;
}

.u-section-5 .u-text-4 {
  font-family: "DM Sans";
  font-size: 0.888889rem;
  line-height: 1.2;
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-5 .u-image-2 {
  background-position: 50% 50%;
  --radius: 40px;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  min-height: 361px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1530px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 357px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 298px;
  }

  .u-section-5 .u-image-2 {
    min-height: 298px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 968px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 50px;
  }

  .u-section-5 .u-image-1 {
    min-height: 550px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 101px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 333px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    min-height: 331px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1530px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 825px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    order: 0;
    min-height: 496px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 250px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 228px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 9px;
    margin-left: 3px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 32px;
    margin-left: 2px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 272px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 21px 9px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 16px;
  }

  .u-section-5 .u-image-2 {
    min-height: 221px;
  }
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before,
.u-section-5 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-2,
.u-section-5 .u-image-2:before,
.u-section-5 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  min-height: 817px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 42px auto 60px;
}

.u-section-6 .u-image-1 {
  min-height: 332px;
  --radius: 40px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  filter: none;
  background-position: 50% 100%;
  background-size: cover;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 332px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 2.125rem;
  font-family: "DM Sans";
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-family: "DM Sans";
  font-size: 0.888889rem;
  line-height: 1.2;
  margin: 20px auto 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 30px auto 0 0;
}

.u-section-6 .u-image-2 {
  min-height: 345px;
  --radius: 40px;
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 345px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin-bottom: 0;
  margin-top: 34px;
  font-size: 2.125rem;
  font-family: "DM Sans";
  font-weight: 700;
}

.u-section-6 .u-text-4 {
  font-family: "DM Sans";
  font-size: 0.888889rem;
  line-height: 1.2;
  margin: 20px auto 0 0;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1332px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-image-1 {
    min-height: 274px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-6 .u-image-2 {
    min-height: 284px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 284px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 793px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 49px;
  }

  .u-section-6 .u-image-1 {
    min-height: 210px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 11px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 11px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 34px;
    margin-left: 11px;
    padding: 10px 30px;
  }

  .u-section-6 .u-image-2 {
    min-height: 218px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1332px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    min-height: 315px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    order: 0;
    min-height: 327px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    order: 1;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 77px;
    margin-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 251px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    min-height: 206px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 38px;
  }
}

.u-section-6 .u-image-1,
.u-section-6 .u-image-1:before,
.u-section-6 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-6 .u-image-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-6 .u-image-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-image-2.u-image-2.u-image-2:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-layout-cell-4,
.u-section-6 .u-layout-cell-4:before,
.u-section-6 .u-layout-cell-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-layout-cell-4.u-layout-cell-4.u-layout-cell-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-layout-cell-4.u-layout-cell-4.u-layout-cell-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.u-section-7 .u-sheet-1 {
  min-height: 928px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 50px;
}

.u-section-7 .u-image-1 {
  background-position: 50% 50%;
  --radius: 40px;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  min-height: 405px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 405px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 2.125rem;
  font-family: "DM Sans";
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  font-family: "DM Sans";
  font-size: 0.888889rem;
  line-height: 1.2;
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 30px auto 0 0;
}

.u-section-7 .u-layout-cell-3 {
  order: 1;
  min-height: 440px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  margin-bottom: 0;
  margin-top: 34px;
  font-size: 2.125rem;
  font-family: "DM Sans";
  font-weight: 700;
}

.u-section-7 .u-text-4 {
  font-family: "DM Sans";
  font-size: 0.888889rem;
  line-height: 1.2;
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-7 .u-image-2 {
  background-position: 50% 0%;
  --radius: 40px;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  min-height: 440px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1177px;
  }

  .u-section-7 .u-image-1 {
    min-height: 334px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 363px;
  }

  .u-section-7 .u-image-2 {
    min-height: 363px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 256px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 301px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    min-height: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1177px;
  }

  .u-section-7 .u-image-1 {
    min-height: 384px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    order: 0;
    min-height: 417px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .u-section-7 .u-image-1 {
    min-height: 267px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 15px 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 22px;
    padding: 10px 30px 11px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 296px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 28px;
  }

  .u-section-7 .u-image-2 {
    min-height: 289px;
  }
}

.u-section-7 .u-image-1,
.u-section-7 .u-image-1:before,
.u-section-7 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-image-2,
.u-section-7 .u-image-2:before,
.u-section-7 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-8 {
  min-height: 1224px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 47px auto 60px;
}

.u-section-8 .u-image-1 {
  --radius: 40px;
  min-height: 364px;
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 364px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 2.125rem;
  font-family: "DM Sans";
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  font-family: "DM Sans";
  font-size: 0.888889rem;
  line-height: 1.2;
  margin: 20px auto 0 0;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 30px auto 0 0;
}

.u-section-8 .u-layout-cell-3 {
  order: 1;
  min-height: 364px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  margin-bottom: 0;
  margin-top: 34px;
  font-size: 2.125rem;
  font-family: "DM Sans";
  font-weight: 400;
}

.u-section-8 .u-text-4 {
  font-family: "DM Sans";
  font-size: 0.888889rem;
  line-height: 1.2;
  margin: 20px auto 0 0;
}

.u-section-8 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-8 .u-image-2 {
  min-height: 364px;
  background-position: 50% 50%;
  background-size: cover;
  --radius: 40px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  min-height: 379px;
  --radius: 40px;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-5 {
  padding: 19px 30px;
}

.u-section-8 .u-layout-cell-6 {
  min-height: 379px;
}

.u-section-8 .u-container-layout-6 {
  padding: 0;
}

.u-section-8 .u-text-5 {
  font-size: 2.125rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 100px 0 0 29px;
}

.u-section-8 .u-text-6 {
  font-size: 0.888889rem;
  margin: 19px -2px 0 29px;
}

.u-section-8 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 19px auto 0 29px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 1959px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-image-1 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    min-height: 300px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-8 .u-image-2 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    min-height: 300px;
  }

  .u-section-8 .u-image-3 {
    min-height: 313px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 325px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 805px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-image-1 {
    min-height: 230px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 8px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 8px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 8px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-8 .u-image-2 {
    min-height: 230px;
  }

  .u-section-8 .u-image-3 {
    min-height: 240px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 290px;
  }

  .u-section-8 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 11px;
    margin-right: 17px;
    margin-left: 30px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-right: 22px;
    margin-left: 30px;
  }

  .u-section-8 .u-btn-3 {
    margin-top: 22px;
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1556px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    min-height: 345px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    order: 0;
    min-height: 345px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    min-height: 360px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 264px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1199px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    min-height: 309px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 280px;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 30px;
  }

  .u-section-8 .u-image-2 {
    min-height: 262px;
  }

  .u-section-8 .u-image-3 {
    min-height: 206px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 289px;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-btn-3 {
    margin-left: 0;
  }
}

.u-section-8 .u-image-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-8 .u-image-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-8 .u-image-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-image-1.u-image-1.u-image-1:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-image-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-8 .u-image-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-8 .u-image-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-image-2.u-image-2.u-image-2:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}